<div class="__form">
    <h1>Criar Um Novo Produtop</h1>
    <form action="/controllerForm" method="post">
        
        <input type="text" name="id" id="id" placeholder="Id:"><br>
        <input type="text" name="category" id="category" placeholder="categoria:"><br>
        <input type="text" name="name" id="name" placeholder="Nome:"><br>
        
        <input type="text" name="preco" id="preco" placeholder="Preço:"><br>

        <input type="submit" name="btnSubmit" id="btnSubmit" Value="Gravar"><br>
    </form>
</div>