<header>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./inserir">Inserir</a></li>
            <li><a href="./select">Select</a></li>
            <li><a href="./login">Entrar</a></li>
        </ul>
    </nav>
</header>


<div class="__form">
    <h1>Criar Um Novo Produtop</h1>
    <form action="/controllerForm" method="post">
        
        <input type="text" name="id" id="id" placeholder="Id:"><br>
        
        <select name="category" id="">
            <option selected >Categoria</option>

            <option value="fruta">Frutas</option>
            <option value="verdura">Verduras</option>
            <option value="peixe">Peixes</option>
            <option value="comida tipica">Comida Típica</option>
            <option value="artesanato">Artesanato</option>
            <option value="outro">Outros</option>

        </select>
        <input type="text" name="name" id="name" placeholder="Nome:"><br>
        
        <input type="text" name="preco" id="preco" placeholder="Preço:"><br>

        <input type="submit" name="btnSubmit" id="btnSubmit" Value="Gravar"><br>
    </form>
</div>