<h1>Formulário para cadatrar pagamento</h1>
<form action="/controllerLogin" method="POST">
    <label>Email</label>
    <input type="email" name="email" ><br><br>

    <label>Nome</label>
    <input type="text" name="nome"><br><br>

    <button type="submit">Cadastrar</button>
</form>