<div class="__form">
    <h1>Criar Uma Novo Registro</h1>
    <form action="controllerRegister" method="post">
        
        <input type="text" name="id" id="id" placeholder="Id:"><br>
        <input type="text" name="name" id="name" placeholder="Name:"><br>
        <input type="text" name="age" id="age" placeholder="Age:"><br>
        <input type="password" name="password" id="password" placeholder="Paasword:"><br>

        <input type="submit" name="btnSubmit" id="btnSubmit" Value="Gravar"><br>
    </form>
</div>