{{!-- header  --}}
<header>
    <nav>
        <ul>
            <li><a href="./">Home</a></li>
            <li><a href="./inserir">Inserir</a></li>
            <li><a href="./select">Select</a></li>
            <li><a href="./register">Registra-se</a></li>
            <li><a href="./login">Entrar</a></li>
        </ul>
    </nav>
</header>

{{!-- formulário produtos  --}}
<div class="__form">
    <h1>Registre-se Para O bter Mais Vantagens</h1>
    <form action="/controllerForm" method="post">
           <input type="text" name="name" id="name" placeholder="Seu Email:"><br>
        <input type="text" name="name" id="name" placeholder="Nome:"><br>
        <input type="password" name="password" id="password" placeholder="Password:"><br>
        <input type="submit" name="btnSubmit" id="btnSubmit" Value="Gravar"><br>
    </form>

    <div>
        <h2>Registre-se Com sua Rede Favorita</h2>

        <a href="Facebookf">Facebook</a> <br>
        <a href="google">Google</a> <br>
        <a href="instagram">Instagram</a> <br>
    </div>
</div>